#Adduser {
    display: flex;
    height: 100vh;
  
    hr {
      height: 0;
      border: 0.1px solid gray;
    }
    .AdduserContainer{
        padding: 10px;
        flex: 6;
    }

}








// #Adduser {
//     display: flex;
//     height: 100vh;
  
//     hr {
//       height: 0;
//       border: 0.1px solid gray;
//     }
//     .AdduserContainer{
//         padding: 10px;
//         flex: 6;
//     }

// }