.CardData{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    border-radius: 5px;
    height: 125px;
    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .CardData-heading{
            font-weight: bold;
            color: gray;
            font-size: 1rem;
        }
        .CardData-value{
            font-size: 2rem;
            font-weight: 500;
            color: chocolate;
        }
        .CardData-view{
            text-decoration: underline;
            cursor: pointer;
            color: gray;
           font-weight: 500;
        }
        .CardData-parentage{
            display: flex;
            font-size: 1.3rem;
            align-items: center;
            font-weight: 700;
            &.positive{
                color: rgb(40, 178, 40);
            }
            &.negative{
                color: rgb(241 10 15);
            }

        }
        .CardData-icon{
            padding: 4px;
            align-self: flex-end;
        }
    }
} 
// https://html-css-js.com/css/generator/