.oneUser{
    display: flex;
    height: 100vh;
  
    hr {
      height: 0;
      border: 0.1px solid gray;
    }
  
    .oneUser-data{
        padding: 10px;
        flex: 6;
        .home-table{
          p{
            font-weight: 700;
            font-size: 1.2rem;
            color: gray;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
          }
        }
        .top{
          height: 40vh;
          width: 100%;
          margin: 5% 0%;
          display: flex;
          justify-content: space-evenly;
        
          .user-left{
            width: 35%;
            // background-color: aqua;
            padding: 7px;
            -webkit-box-shadow: 2px 4px 10px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    border-radius: 5px;
          }
          .chart-right{
            width: 55%;
          }
        }
    }
}